:root {
    --color-gray01	:#191D24;
    --color-gray02	:#242933;
    --color-gray03	:#1F2937;
    --color-gray04	:#374151;
    --color-gray05	:#3D4451;
    --color-gray06	:#4B5563;
    --color-gray07	:#A6ADBA;
    --color-gray08	:#D1D5DB;
    --color-gray09	:#E5E7Eb;
    --color-gray10	:#F3F4F6;
    --color-gray11	:#F9FAFB;
    --color-mint01 :#37CDBE;
    
    --color-red01:#EF4444;
    
    --color-purple01:#641AE6;
    
    --color-white:#FFFFFF;
    }