@import url(./color.css);

:root { /* light mode */
    --header-text : var(--color-white);
    --header-bgc : var(--color-gray01);

    --primary-text : var(--color-gray07);

    --font-color: var(--color-gray01);
    --link-color:#1C75B9;
    --link-white-color:#fff;
    --bg-color: rgb(243,243,243);
}

[data-theme="light"] {
    --header-text : var(--color-gray04);
    --header-bgc : var(--color-white);

    --primary-text : var(--color-gray03);

    --font-color: #bdbab8;
    --link-color:#0a86da;
    --link-white-color:#bdbab8;
    --bg-color: #333;
}

.wrap{
    position: relative;
    top : 62px;
    max-width: 1360px;
    width: 100%;
    margin : 0 auto;
}

.flex{
    display: flex;
}

.direction-column{
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}