* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

body {
    /* background-color: #2b303b; */
}

button{
    background: inherit ;
    border:none;
    box-shadow:none;
    border-radius:0;
    padding:0;
    overflow:visible; 
    cursor:pointer
}

li, ul {
    list-style: none;
}